.root {
    /* Customize the default theme to use blue colors */
    -fx-base: #c1edff;
    -fx-accent: #69cbff;
    -fx-accent-alt: #ff6f16;
    -fx-control-inner-background: derive(-fx-base, 45%);
    -fx-default-button: -fx-accent;

    /* Use Avenir as the default font for all nodes */
    -fx-font-family: "Avenir Next Condensed";
    -fx-font-weight: bold;
    -fx-font-size: 16px;

    /* Some custom style variables */
    -bingo-shadow: dropshadow(gaussian, rgba(9, 46, 92, 0.05), 8, 0, 1, 3);
    -bingo-background: radial-gradient(focus-angle -52.59deg, focus-distance -25.4335%, center 27.2853% 72.8029%, radius 96.2428%, -fx-base 0.0%, #ffffff 100.0%);

    -fx-background-color: -bingo-background;
}

.h1 {
    -fx-font-size: 24px;
    -fx-stroke: white;
    -fx-stroke-type: outside;
    -fx-stroke-width: 1px;
    -fx-effect: -bingo-shadow;
}

/* Strip default ListView styles */
.strip-list-view > .virtual-flow > .scroll-bar,
.strip-list-view > .virtual-flow > .scroll-bar .decrement-arrow,
.strip-list-view > .virtual-flow > .scroll-bar .increment-arrow,
.strip-list-view > .virtual-flow > .scroll-bar .decrement-button,
.strip-list-view > .virtual-flow > .scroll-bar .increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.strip-list-view {
    -fx-background-color: transparent;
}

.strip-list-view .list-cell {
    -fx-background-color: transparent;
}

.surface {
    -fx-background-color: -fx-base;
    -fx-background-radius: 8px;
    -fx-effect: -bingo-shadow;
}

.rounded {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.selected {
    -fx-background-color: -fx-accent;
}

#calledCellsListView {
    -fx-padding: 0 6;
}

#calledCellsListView .list-cell {
    -fx-padding: 0;
    -fx-pref-width: 64;
    -fx-pref-height: 64;
    -fx-background-radius: 4;
    -fx-background-insets: 4;
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-font-size: 24;
}

#calledCellsListView .list-cell:selected {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

#calledCellsListView .list-cell Circle {
    -fx-fill: derive(-fx-accent-alt, 99%);
}

#calledCellsListView .list-cell:selected Circle {
    -fx-fill: -fx-accent-alt;
}

#cardGridPane {
    -fx-hgap: 8;
    -fx-vgap: 8;
    -fx-padding: 8;
    -fx-border-color: -fx-accent;
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-background-color: linear-gradient(to top, #d4f9ff, #ffffff 40%);
    -fx-background-radius: 12;
    -fx-effect: -bingo-shadow;
}

#cardGridPane Pane {
    -fx-background-color: linear-gradient(from 0px 0px to 64px 0px, repeat, transparent 92%, #c4f1ff 93%, #c4f1ff 95%, transparent 96%), linear-gradient(from 0px 0px to 0px 64px, repeat, transparent 92%, #c4f1ff 93%, #c4f1ff 95%, transparent 96%);
}

#cardGridPane StackPane {
    -fx-background-color: -fx-base;
    -fx-background-radius: 4;
    -fx-max-height: 24;
}

#cardGridPane StackPane Text {
    -fx-font-size: 18;
}

#cardGridPane Button {
    -fx-padding: 0;
    -fx-font-size: 24;
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-pref-width: 56;
    -fx-pref-height: 56;
}

#cardGridPane Button Circle {
    -fx-fill: derive(-fx-accent-alt, 99%);
}

#cardGridPane Button:disabled {
    -fx-opacity: 1;
    -fx-text-fill: white;
}

#cardGridPane Button:disabled Circle {
    -fx-fill: -fx-accent-alt;
}

#cardGridPane Button.highlighted {
    -fx-background-color: -fx-accent;
}